page-guide-details {
   .doctor-wrapper{
    background: #87cdf2;
    padding: 10px;
    color: white;
   }
   .doctor-name{
    font-size: 18px;
   }
   .event-date{
    font-size: 15px;
   }

   .content-title{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    font-size: 20px;
    color: #13354f;
    font-weight: 600;
   }
   .content-txt{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    text-align: justify;
   }

   .pdf-img{
    width: 15%;
    margin: auto;
   }
}
